

body {
    background: url(photos/awfulkid-bck2.jpg) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    font-family: "dosis","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 2em;
	color: #ff9d00;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

strong {
	color: #0004FF;
}

a {
	color: #0004FF;
}

a:hover {
	text-decoration: none;
}

@font-face {
    font-family: mistv;
    src: url(fonts/germs/germs.ttf);
}

@font-face {
    font-family: dosis;
    src: url(fonts/Dosis/Dosis-Bold.ttf);
}

.navbar-default {
	font-size: 18px;
}


.logo {
	position: fixed;
	top: 0px;
	left: 0px;
    width:27%;
    min-width: 220px;
}

.nav-cont {
	text-align: center;
	position: fixed;
	top: 48%;
	left: 100px;
	width: 10%;
	min-width: 120px;
}

.nav-pills li {
	padding-bottom: 10px;
}

.nav-pills>li>a {
    border-radius: 8px;
    background-color: #ff9d00;
	color: #0004FF;
}

.nav-pills>li>a:hover, .nav-pills>li>a:focus, .nav-pills>li>a:active {
    background-color: #FFC76D;
    color: white;
}

.nav-music>a:hover, .nav-music>a:focus, .nav-music>a:active {
	background-color: #ff9d00;
}

.awk_content .nav-music a {
    position: relative;
    display: block;
 	border-radius: 8px;
 	background: none;
 	line-height: 1.33;
}

.nav .children li {
	height: 48px;
}

.nav .children {
	list-style: none;
}

.nav-music li a {
	height: 110px;
	font-size: 3em;
}

.bs-docs-sidebar {

}

.nav-stacked>li+li {
    margin-top: 0px;
    margin-left: 0;
}

.awk_content {
	position: absolute;
	right: 100px;
	top: 200px;
	width: 33%;
}

p {
	font-size: 1.5em;
	color: #ff9d00;
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
	body {
		text-align: center;
		background-size: auto;
	}


	.container {
		margin: auto;
	}

	.logo {
		  font-family: "mistv","Helvetica Neue",Helvetica,Arial,sans-serif;
		  font-size: 5em;
		  position: static;
	    font-weight: 400;
	    letter-spacing: -1px;
	    line-height: 1;
      width:100%;
	}

	.awk_content {
		position: static;
		margin: auto;
		width: 90%;
		font-size: 0.7em;
		margin-top: 50px;
		padding-bottom: 100px;
	}
}
